body {
	background: #75D660;
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: #545454;
	padding: 0;
}

img {
	width: 100%;
}

hr {
	width: 75%;
	margin: 0 auto;
}

.main {
	width: 75%;
	margin: 0 auto;
	background: #FFF;
	text-align: center;
	padding: 1em;
}

.profile {
	display: flex;
	flex-direction: row;
}

.profile-pic {
	width: 50%;
	text-align: right;
}

.profile-pic img {
	width: 70%;
}

.profile-info {
	width: 50%;
	padding: 1em;
	line-height: 2;
	text-align: left;
}

.profile-info>*>* {
	display: inline-block;
}

.new-post-container>*,
.new-post-container input {
	display: block;
	width: 100%;
	line-height: 3;
}

.new-post-container>* {
	padding-bottom: 1em;
}

.new-post-container select {
	width: 30%;
	margin: 0 auto;
	padding-bottom: 1em;
}

.post {
	display: flex;
	width: 90%;
	margin: 0 auto;
	padding: 1em;
	box-shadow: 0 0 .8em #CCC;
	margin-bottom: 2em;
}

.post-img {
	width: 40%;
}

.post-info {
	width: 60%;
	padding: 1em;
	line-height: 2;
}

.post-title {
	font-size: 1.3em;
	font-weight: bold;
}

.post-content {
	text-align: left;
	line-height: 1.4;
}

.profile-edit-container {
	display: flex;
	justify-content: space-between;
}

.profile-edit-container a {
	display: block;
	width: 30%;
	border: solid 1px #AAA;
	background: #DDD;
	color: #545454;
	text-decoration: none;
	text-align: center;
}

.profile-edit-container a:hover {
	background: #AAA;
}

.change-profile-info .label {
	padding-top: 1em;
}

.label {
	font-weight: bold;
}